/*
    for app.html
*/
body {
    color: #1a2a3a;
}

header {
    background-color: #F4CD8A;
}

nav {
    background-color: snow;
}

.navigate_link:hover {
    background-color: #F4CD8A;
    cursor: pointer;
}

iframe {
    background-color: snow;
}

footer {
    background-color: #cccccc;
}

.setting_section {
    background-color: #eeeeee;
    border-radius: 10px;
}

.tag_li, .tag {
    background-color: #eedfc6;
}

/*
    right click menu in file.html
*/
.context_menu {
    background-color: antiquewhite;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}

.context_menu li:hover {
    background-color: antiquewhite;
}

/*
    for information table
    such as replica table in function.html
    and     user table in server_status.html
*/
.common_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2;
    margin-top: 10px;
}

.common_table td, .common_table th {
    border-radius: 10px;
    padding: 7px;
}

.common_table .center_cell {
    text-align: center;
}

.common_table th {
    background-color: #d8d8d8;
}

.common_table td {
    background-color: #e5e5e5;
}