/* all preview item should be limited in preview section */
.nonpdf_preview {
    max-height: 100%;
    max-width: 100%;
    display: none;
}

#text_preview_container {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#text_preview {
    flex: 19;
    box-sizing: border-box;
}

#save_button {
    flex: 1;
}

#pdf_preview, #vid_preview {
    height: 100%;
    width: 100%;
    display: none;
}

html, body {
    height: 100%;
    color: #1a2a3a;
    margin: 0;
}

main {
    height: 100%;
}